@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
	padding:0;
	margin: 0;
}

body{
	font-family: 'Poppins';
	font-size: 10px;
}

header{
	display: flex;
	flex-direction: column;
}

#top-header{
	display: flex;
	justify-content: space-between;
}
#logo{
	font-size: 1.5em;
	padding: 10px 20px;
}

#top-header nav ul{
	display: flex;
	justify-content: space-between;
	text-align: center;
	list-style: none;
	padding: 10px;
}

#top-header nav ul li{
	margin: 0 15px;
}

.nav-links{
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}

#bottom-header{
	display: flex;
}

#bottom-header img{
	padding: 20px;
	width: 70px;
}
#bottom-header div{
	padding: 20px;
}
#bottom-header>div input{
	width: 850px;
	height: 2em;
	background: #F2F2F2;
	padding: 5px;
	border:none;
}
#bottom-header>div i{
	font-size: 1.8em;
}
#bottom-header div button{
	padding: 10px 20px;
}
#search{
	background: black;
	color: white;
	border-color: black
}
#sign-up-in button{
	background: white;
	border:none;
}
#sign-up-in>#sign-up{
	border:0.5px solid black;
}

h1{
	font-weight: 800;
	font-size: 3.5em;

}

#second{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url('./assets/b1.png');
	color: white;
	text-align: center;
	padding: 50px 400px;
}

#second p{
	font-size: 1.3em;
	margin: 20px 0 30px;
}
.button-dim{
	padding: 20px 60px;
	margin: 10px;
	font-size: 1.5em;
	color: white;
	font-weight: 700;
	border:none;
}
#button-1{
	background: #C22127;
	border-bottom: 5px solid #F2871B;
}

#button-2{
	background: #E81BA8;
	border-bottom: 5px solid #B00AD4;
}

#third div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 50px 200px;
}
#third p{
	font-size: 1.5em;
	margin: 20px 0 0;
}
#fourth{
	display: flex;		
	padding: 20px 180px 20px 80px;
}

#fourth article{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 10px 20px;
	width: 250px;
	
}

#fourth h3,p{
	margin-top: 10px;
}

#fourth p{
	font-size: 1.4em;
}
#fourth h3{
	font-size: 1.8em;
}

#fourth button{
	width: 60%;
	padding: 10px 20px;
	margin: 20px;
	background: white;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 25px;
	border-color: black;
}

#fifth{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 400px;
	color: white;
	background: url('./assets/background.png');
}

#fifth p{
	font-size: 1.8em;
	text-align: center;
	margin: 30px;

}

#sixth{
	display: flex;
	align-items: center;
	text-align: center;
	padding: 60px 400px;
	font-size: 600;
}
#seventh{
	display: flex;
	align-items: center;
	justify-content: center;
}
#seventh img{
	width: 400px;

}

footer{
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}

footer div h4{
	font-size: 2em
}

footer div ul li{
	list-style: none;
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 10px;
}

